[alias]
	co = checkout
	po = push origin
	pom = push origin master
	lo = pull origin
	lom = pull origin
	st = stash
	stp = stash pop

[color "branch"]
	current = cyan reverse
	local = green
	remote = cyan

[color "status"]
    added = green
    changed = yellow
    untracked = cyan

[core]
	editor = vim

[merge]
    tool = meld

[color]
	ui = auto

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
