[submodule "vim/pack/test/start/YouCompleteMe"]
	path = vim/pack/test/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/pack/nerdtree/start/NERDTree"]
	path = vim/pack/nerdtree/start/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/gitting/start/fugitive"]
	path = vim/pack/gitting/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
